.game_options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: var(--quaternary-bg);
}

.game_options a {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  color: var(--secondary-font);
}

.game_options a:hover {
  color: var(--secondary-hover);
}
