.container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: absolute;
  top: 2.3rem;
  right: 2rem;
  z-index: 9; /* smaller than toast z-indez, which is 10 */
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
}

.container span {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--primary-hover);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.close_left {
  transform: translate(0, 0.6rem) rotate(45deg);
}

.close_right {
  transform: rotate(135deg);
}

.fade {
  opacity: 0;
}

@media screen and (min-width: 600px) {
  .container {
    display: none;
  }
}
