.container {
  width: 100%;
  background-color: #fff;
  height: fit-content;
  max-width: 420px;
}

.container canvas {
  width: 100%;
  height: auto;
}

.container p {
  color: var(--primary-font);
  font-size: 2rem;
}

@media screen and (min-width: 440px) {
  .container canvas {
    height: 420px;
  }
}
