.container {
  place-items: unset;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.container h1 {
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: var(--primary-font);
}

.game_container {
  display: grid;
  place-items: center; 
  height: calc(100vh - 120px);
  width: 100%;
}

@media screen and (min-width: 600px) {
  .game_container {
    height: calc(100vh - 135px);
  }
}

@media screen and (min-width: 1000px) {
  .game_container {
    height: calc(100vh - 140px);
  }
}
