.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container h1 {
  width: 100%;
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: var(--primary-font);
  margin-bottom: 3rem;
}

.game_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 3px;
  background-color: var(--tertiary-bg);
}

.game_info li {
  width: 100%;
  word-break: break-all;
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  color: var(--secondary-font);
}

.game_info li span {
  color: var(--primary-font);
}

.game_info .game_title h2 {
  font-size: clamp(1.8rem, 2.5vw, 2.2rem);
  color: var(--primary-font);
}
